/* header css start here */
.menu {
    width: 100%;
    background-color: var(--dark-grey);
}

.primary__navigation {
    width: 100%;
    display: flex;
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.menu__item {
    padding: 10px 60px 10px 60px;
    transition: all 0.3s ease;
}

.menu__item:hover {
    background-color: var(--dark-black);
    color: var(--white);

}

.menu--link {
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 300;
    color: var(--text-grey);
}

/* header css end here */

/* card css start here */

.movies__listing {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-between;
}

.movie__card {
    width: 24%;
    flex-wrap: wrap;
}

.movie__image {
    max-width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.movie__image img {
    width: 100%;
    height: 100%;
}

.movie__descripton {
    border: 1px solid #ccc;
    padding: 10px;
}

.movie__detials {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    margin-top: 10px;
    min-height: 46px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie__title {
    width: 90%;
}

.movie__fav--heart {
    width: 10%;
}

.movie__fav--heart i {
    color: var(--text-grey);
    font-size: 20px;
}

.red i {
    color: var(--red);
    font-size: 20px;
}

.movie__generes {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__generes ul li {
    display: initial;
    font-size: 14px;
    color: var(--dark-black);
    text-transform: capitalize;
}

.movie__rating {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__showMore {
    font-size: 16px;
}

/* modal css start here */
.modal__desc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
    justify-content: space-between;
}

.modal__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-grey);
    padding: 15px;
}

.movie__content {
    width: 70%;
}

.modal__desc .movie__image {
    width: 28%;
    height: 200px;
}

.modal__body {
    padding: 15px;
}

.modal__foot {
    width: 100%;
    flex-direction: row-reverse;
    border-top: 1px solid #ccc;
    text-align: right;
    padding: 20px;
}

.modal__foot .modal__close--bottom {
    margin-right: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 15px 7px 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--opacity-black);
}

.modal__content {
    background-color: var(--creamy-white);
    margin: auto;
    width: 60%;
}

.modal__close {
    color: var(--grey);
    float: right;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
}

.table {
    width: 100%;
    text-align: left;
    display: flex;
}

.table__body {
    width: 100%
}

.modal__details {
    margin-bottom: 15px;
}

/* modal css end here */


/* inner movie detail page start here */
.anchor-actor a:hover {
    color: var(--blue);
}

.full__banner {
    width: 100%;
    position: relative;
}

.movie__poster {
    width: 100%;
    height: calc(100vh - 37px);
    object-fit: cover;
}

.anchor-actor a {
    text-decoration: none;
    color:var(--dark-black);
    display: contents;
}

.movie__details {
    width: 100%;
    padding-top: 50px;
    display: flex;
}

.movie__layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__desc {
    width: 47.5%;
    margin-top: 10px;
}

.movie__info {
    width: 47.5%;
    background:var(--info-background-color );
    padding: 25px 15px 25px 15px;
}

.movie__info .table tr {

    line-height: 2.8em;
    width: 100%;
    border-bottom: 1px solid var(--grey);
}

.movie__info .table {
    display: inline-table;
}

.movie__info .table td {
    margin-left: 75px;
    width: 75%;
    line-height: 1.8;
}

.movie__info .table th {
    font-size: 18px;
    text-transform: capitalize;
    width: 25%;
}

.movie__desc .primary-text {
    margin-bottom: 10px;
}

.table__body tr:nth-last-child(1) {
    border: none;
}

.movie__desc .para-text {
    text-align: justify;
}

.year .years-text {
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.6;
}

.year__content h2 {
    font-weight: bold;
    font-size: 1.2em;
}



/* actor details page css */
.actor {
    display: flex;
    padding-top: 80px;
}

.actor__details {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.year {
    width: 100%;
}

.movie__year {
    width: 100%;
}

.year__content {
    background-color: var(--light-grey);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.actor__content {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

}

.moviesby__year {
    width: 22%;
    margin-right: 3%;
    margin-bottom: 30px;
}

#actor-main-details {
    margin-top: 30px;
    display: flex;
}

.actor-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.actor_poster {
    width: 37%;
}

.para-actor .primary-text {
    margin-bottom: 10px;
}

.para-actor {
    width: 55%;
    padding: 29px;
    background-color: var(--light-grey);
}

.para-actor p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    ;
}

.actor__dob {
    margin-bottom: 10px;
}

.actor-image {
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
}

.actor-image img {
    width: 100%;
    height: 100%;
}

.year__primarytext {
    font-size: 1.8em;
    font-weight: bold;

}

/* explore page css */
.movie__filters {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
}

.movie__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchby__title {
    width: 55%;
    margin-top: 30px;
}

.searchby__title input {
    width: 80%;
    border: 1px solid #000;
    padding: 10px;
}

.filterby___rating {
    width: 35%;
}

.serch__icon {
    padding: 10px 16px 10px 16px;
    background: var(--blue);
    border: 1px solid var(--blue);
    margin-left: -2px;
}

.serch__icon i {
    color:var(--white);
}

.filterby___rating input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    margin-top: 20px;
    border: 1px solid #000;
    background: var(--text-grey);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.filterby___rating input[type=range]:focus {
    outline: none;
}

.filterby___rating input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid var(--blue);
    cursor: pointer;
}

.filterby___rating input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--text-grey);
    cursor: pointer;
}

.range__labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.filtered__data {
    display: flex;
}
.datanot__found {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.datanot__found:before {
    font-family: FontAwesome;
    content: "\f119";
    height: 0px;
    top: 50%;
    left: 50%;
    font-weight: 400;
    width: auto;
    color: var(--text-grey);
    font-size: 67px;
    position: absolute;
    transform: translate(-50%);
}

.rating__label {
    font-size: 20px;
    font-weight: bold;
}

.filtered__data .movie__card {
    margin-bottom: 30px;
}