:root {
    --dark-grey: #222;
    --grey: #ccc;
    --text-grey: #b8b6b6;
    --light-grey:#cccccc38;
    --dark-black: #000;
    --white: #fff;
    --creamy-white: #fefefe;
    --light-black:#000000c2;
    --red:red;
    --opacity-black:rgba(0,0,0,0.4);
    --info-background-color:#cccccc38;
    --blue:#2196f3;
  
  }