<template id="movies-listing">
    <article class="movie__card">
        <figure class="movie__image" id="modal">
            <img src="" alt="" title="" class="movie-image">
        </figure>
        <div class="movie__descripton">
            <section class="movie__detials">
                <div class="movie__title">
                    <h2 class="secondary-text"></h2>
                </div>
                <div class="movie__fav--heart" id="movie__fav--heart">
                    <span><i class="fa fa-heart" aria-hidden="true" id="fa-heart"></i></span>
                </div>
            </section>
            <section class="movie__generes">
                <ul>
                    <li></li>
                </ul>
            </section>
            <section class="movie__rating ">
                <div class="movie__ratingStars">
                    <span></span>
                </div>
                <a href="movie-details.html" class="movie__showMore">Show More</a>
            </section>
        </div>
    </article>
</template>