<template id="header">
    <header class="menu" id="menu">
        <div class="container-fluid">
            <nav class="primary__navigation">
                <h1 class="logo"><a href="index.html" tabindex="0" class="logo--link">Movie App</a></h1>
                <ul class="menu__items">
                    <li class="menu__item"><a href="index.html" tabindex="1" class="menu--link">Home</a>
                    </li>
                    <li class="menu__item"><a href="explore.html" tabindex="2" class="menu--link">Explore</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</template>