<template id="details">
    <div>
        <section class="full__banner">
            <figure>
                <img src="" alt="" title="" class="movie__poster">
            </figure>
        </section>

        <section class="movie__details">
            <div class="container movie__layout">
                <article class="movie__desc">
                    <h2 class="primary-text"></h2>
                    <p class="para-text"></p>
                </article>
                <aside class="movie__info">
                    <table class="table">
                        <tbody class="table__body">
                            <tr class="genre__data">
                                <th>
                                    genre
                                </th>
                                <td>

                                </td>
                            </tr>
                            <tr class="cast__data">
                                <th>
                                    Cast
                                </th>
                                <td class="anchor-actor">

                                </td>
                            </tr>
                            <tr class="dir__data">
                                <th>
                                    Director
                                </th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Movie Rating
                                </th>
                                <td>
                                    <div class="movie__ratingStars">
                                        <span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </aside>
            </div>
        </section>
    </div>
</template>