<template id="modal-template">
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <article class="modal__content">
            <section class="modal__header">
                <h2 class="primary-text"></h2>
                <span class="modal__close">&times;</span>
            </section>

            <section class="modal__body">
                <div class="modal__desc">
                    <figure class="movie__image" id="modal">
                        <img src="http://placehold.jp/190x190.png" alt="" title="">
                    </figure>
                    <div class="movie__content">
                        <p class="para-text"></p>
                    </div>
                </div>
                <div class="modal__details">
                    <table class="table">
                        <tbody class="table__body">
                            <tr class="genre__data">
                                <th>
                                    genre
                                </th>
                                <td>

                                </td>
                            </tr>
                            <tr class="cast__data">
                                <th>
                                    Cast
                                </th>
                                <td>

                                </td>
                            </tr>
                            <tr class="dir__data">
                                <th>
                                    Director
                                </th>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Movie Rating
                                </th>
                                <td>
                                    <div class="movie__ratingStars">
                                        <span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </section>
            <section class="modal__foot">
                <span class="modal__close--bottom">Close</span>
            </section>
        </article>

    </div>
</template>